services:
  db:
    image: postgres:14
    container_name: postgres_container
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    environment:
      # these are taken from .env via env_file
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres/data:/var/lib/postgresql/data        # persist DB data
      - ./postgres/init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -h localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - my-network

  af:
    image: apache/airflow:3.1.1
    container_name: airflow_container
    env_file:
      - .env
    ports:
      - "${AIRFLOW_PORT:-8080}:8080"
    environment:
      # Use env vars to build SQLAlchemy connection string
      AIRFLOW_DATABASE_SQL_ALCHEMY_CONN: postgresql+psycopg2://${AIRFLOW_USER}:${AIRFLOW_PASSWORD}@db:5432/${AIRFLOW_DB}
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./api_request:/opt/airflow/api_request
      - /var/run/docker.sock:/var/run/docker.sock
    group_add:
      - '1000'
    depends_on:
      db:
        condition: service_healthy
    command: >
      bash -c "
      set -e
      echo 'Running migrations...';
      airflow db migrate;
      echo 'Starting standalone...';
      airflow standalone
      "

    networks:
      - my-network
  
  dbt:
    container_name: dbt_container
    image: ghcr.io/dbt-labs/dbt-postgres:1.9.latest
    volumes:
      - .dbt/weather_analytics:/usr/app # you can find the files dbt_project.yml inside weather_analytics project folder 
      - .dbt:/root/.dbt #home directory in dbt profiles.yml
    working_dir: /usr/app # tells docker container to run the dbt commands inside this folder /usr/app by default (its like cd /usr/app)
    environment:
      DBT_PROFILES_DIR: "/root/.dbt"
    depends_on:
      - db
    networks:
      - my-network
    command: run  # (init, debug, run -->order)
  
  fastapi:
    build:
      context: ./backend
    container_name: fastapi_backend
    ports:
      - "8000:8080"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    networks:
      - my-network

networks:
  my-network:
    driver: bridge